

body{
    background-color: blueviolet;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    
}

.botaoConsulta {
    color: rgb(255, 255, 255);
    background-color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}


.botaoLimpar {
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    
}

input[type="text"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
}
    
form {
    background-color: #59b7b5;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;

}